* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.random-bird, .birds-container .birds-list .birds-list-item, .birds-container .birds-description {
  background-color: #303030;
  padding: 15px;
  border-radius: 0.25rem;
}

.change-level, .win-result-container .restart-btn, .start-btn {
  border: 1px solid #444;
  background-color: #00bc8c;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.change-level:hover, .win-result-container .restart-btn:hover, .start-btn:hover {
  background: #01d5a0;
}

.top-panel .logo, .start-header .container .logo {
  background-image: url("../assets/images/logo_songbird.svg");
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.app {
  padding: 15px 50px;
  background-color: #222;
}

@media (max-width: 700px) {
  .app {
    padding: 15px 0px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.pagination,
.main {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.top-panel {
  margin: 0px 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.top-panel .logo {
  margin: 10px 0;
}

.top-panel .score {
  margin-top: 25px;
  font-size: 22px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
}

.pagination {
  margin: 0px 15px;
  background-color: #007c5d;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
  border-radius: 5px;
  gap: 1px;
}

.pagination .page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0 15px;
  flex-grow: 1;
  background-color: #008966;
  border-radius: 5px;
}

.pagination .page-item.active {
  background: #00bc8c;
  border-radius: 5px;
}

.pagination .page-item .page-link {
  color: #fff;
}

.game-container {
  padding-bottom: 15px;
}

.random-bird {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 15px;
}

.random-bird.hidden {
  display: none;
}

.random-bird .bird-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
}

.random-bird .bird-sound {
  margin: 0 40px;
  flex-grow: 1;
  min-width: 220px;
}

.random-bird .bird-sound .sound-name {
  padding: 5px 5px 20px;
  font-size: 30px;
  border-bottom: 1px solid #555;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (max-width: 700px) {
  .random-bird .bird-sound .sound-name {
    text-align: center;
    padding: 15px 5px 15px;
  }
}

.random-bird .bird-sound .sound-music {
  display: flex;
  padding: 10px 0;
}

.random-bird .bird-sound .sound-music .play {
  width: 40px;
  height: 40px;
  background: url("../assets/images/play-btn.png");
  background-size: cover;
  margin-right: 10px;
  cursor: pointer;
}

.random-bird .bird-sound .sound-music .play.active {
  background: url("../assets/images/pause-btn.png");
  background-size: cover;
}

.random-bird .bird-sound .sound-music .audio-tracker {
  flex-grow: 1;
  margin: 0 10px;
}

.random-bird .bird-sound .sound-music .audio-tracker .audio-track {
  height: 3px;
  background-color: #7b7b7b;
  margin: 20px 0 8px;
}

.random-bird .bird-sound .sound-music .audio-tracker .audio-track .time {
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #00bc8c 0%, #3d858c 100%);
}

.random-bird .bird-sound .sound-music .audio-tracker .time-info {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  padding-left: 4px;
}

.birds-container {
  display: flex;
  margin: 0px 15px;
  margin-top: 25px;
  gap: 30px;
}

@media (max-width: 700px) {
  .birds-container {
    flex-direction: column;
  }
}

.birds-container.hidden {
  display: none;
}

.birds-container .birds-list {
  flex: 0 1 50%;
  padding: 0;
  cursor: pointer;
}

.birds-container .birds-list.disabled {
  pointer-events: none;
  cursor: auto;
}

.birds-container .birds-list .birds-list-item {
  padding: 15px 20px;
  border: 1px solid #444;
  pointer-events: inherit;
}

.birds-container .birds-list .birds-list-item.active {
  background: #555;
}

.birds-container .birds-list .birds-list-item .li-ind {
  display: inline-block;
  background: #444;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.1s;
}

.birds-container .birds-description {
  flex: 0 1 50%;
  border: 1px solid #444;
  line-height: 1.5;
}

.birds-container .birds-description .birds-description-unselected,
.birds-container .birds-description .birds-description-selected {
  display: none;
}

.birds-container .birds-description .birds-description-unselected.active,
.birds-container .birds-description .birds-description-selected.active {
  display: block;
}

.birds-container .birds-description .birds-description-selected .selected-bird {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .birds-container .birds-description .birds-description-selected .selected-bird {
    flex-direction: column;
  }
}

@media (max-width: 990px) {
  .birds-container .birds-description .birds-description-selected .selected-bird .selected-bird-image,
  .birds-container .birds-description .birds-description-selected .selected-bird .selected-bird-name {
    display: flex;
    justify-content: center;
  }
}

.birds-container .birds-description .birds-description-selected .selected-bird .selected-bird-image .selected-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  margin-right: 15px;
}

.birds-container .birds-description .birds-description-selected .selected-bird .selected-bird-name {
  flex-grow: 1;
  margin: 0 15px;
}

.birds-container .birds-description .birds-description-selected .selected-bird .selected-bird-name .selected-name-rus {
  font-size: 22px;
  font-weight: 600;
  line-height: 2.5;
  border-bottom: 1px solid #555;
}

.birds-container .birds-description .birds-description-selected .selected-bird .selected-bird-name .selected-name-lat {
  line-height: 2;
  border-bottom: 1px solid #555;
}

@media (max-width: 990px) {
  .birds-container .birds-description .birds-description-selected .selected-bird .selected-bird-name {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 990px) {
  .birds-container .birds-description .birds-description-selected .selected-description {
    margin: 0 15px;
  }
}

.change-level {
  margin: 25px 15px 10px;
}

.change-level.disabled {
  pointer-events: none;
  cursor: auto;
  background-color: #303030;
}

.change-level.hidden {
  display: none;
}

.win-result-container {
  background-color: #303030;
  border-radius: 0.25rem;
  margin: 0 15px;
  min-height: 404px;
  padding: 4rem 2rem;
  display: none;
}

.win-result-container.active {
  display: block;
}

.win-result-container .win-result {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

.win-result-container .win-result .congratulate {
  font-size: 4.5rem;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 700px) {
  .win-result-container .win-result .congratulate {
    font-size: 3rem;
  }
}

.win-result-container .win-result .win-description {
  font-size: 1.171875rem;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 700px) {
  .win-result-container .win-result .win-description {
    font-size: 0.9rem;
  }
}

.win-result-container .win-result .win-description .win-score,
.win-result-container .win-result .win-description .max-score {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 700px) {
  .win-result-container .win-result .win-description .win-score,
  .win-result-container .win-result .win-description .max-score {
    font-size: 1rem;
  }
}

.win-result-container .win-result .win-line {
  background: rgba(0, 0, 0, 0.1);
  margin: 1.5rem 0;
  height: 0.5px;
}

.win-result-container .restart-btn {
  width: 100%;
  margin: 25px 0;
}

.start-page {
  background: url("../assets/images/index_background.jpg");
  background-size: cover;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (max-width: 900px) {
  .start-page {
    background: url("../assets/images/index_background_mob.jpg");
    min-height: 100vh;
  }
}

@media (min-width: 1000px) {
  .start-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

.start-header {
  background-color: #008966;
}

.start-header .container {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1099px) {
  .start-header .container {
    margin: 0 15px;
  }
}

.start-header .container .nav {
  height: 100%;
}

.start-header .container .nav .page-navigation {
  display: flex;
  font-size: 22px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  align-items: center;
  height: 100%;
}

@media (max-width: 450px) {
  .start-header .container .nav .page-navigation {
    flex-direction: column;
  }
}

.start-header .container .nav .page-navigation .nav-item {
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

.start-header .container .nav .page-navigation .nav-item:hover {
  background: #00bc8c;
}

@media (max-width: 450px) {
  .start-header .container .nav .page-navigation .nav-item:hover {
    background: #008966;
    text-shadow: 0px 0px 10px #00ffbf;
  }
}

.start-header .container .nav .page-navigation .nav-item .nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}

.start-header .container .logo {
  margin-left: 30px;
}

@media (max-width: 500px) {
  .start-header .container .logo {
    background-position: center;
  }
}

.game-description {
  padding: 30px;
  text-shadow: 1px 1px 2px #000;
}

.game-description .description-title {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px;
}

.game-description .description-text {
  font-size: 20px;
  line-height: 1.5;
}

.start-btn {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin: 20px auto;
  border: none;
  color: #fff;
  font-size: 18px;
}

.footer {
  margin-top: 100px;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.footer .container .deploy-year {
  font-size: 26px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  align-self: end;
}

.footer .container .social-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer .container .social-links .github-link .github {
  width: 40px;
}

.footer .container .social-links .rs-school-link .rs-school {
  width: 100px;
}
